<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="p.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:rgb(220, 120, 137);">
    <div class="bgimg">
    <h1>
    <div class="heading">PREVIOUSLY ASKED QUESTIONS</div>
    </h1>
    <hr>
    <br>
    <br>
    <div class="b1">
        <form>
        <label class="q">QUESTION:</label>
        <br> <br>
        <input type="text" class="box1">
    </div>
    <br>
    <div class="box2" >
        <form>
        <label  class="a">ANSWER:</label>
        <br>
        <br>
        <input type="text" class="answer1">
        </form>
    </div>
    <br>
    <br>
    <div class="b1">
        <form>
        <label class="q">QUESTION:</label>
        <br> <br>
        <input type="text" class="box1">
    </div>
    <br>
    <div class="box2" >
        <form>
        <label  class="a">ANSWER:</label>
        <br>
        <br>
        <input type="text" class="answer1">
        </form>
    </div>
    <br>
    <br>
    <div class="b1">
        <form>
        <label class="q">QUESTION:</label>
        <br> <br>
        <input type="text" class="box1">
    </div>
    <br>
    <div class="box2" >
        <form>
        <label  class="a">ANSWER:</label>
        <br>
        <br>
        <input type="text" class="answer1">
        </form>
    </div>
    <br>
    <br>
    <button  type="button" class="btn"> <span class="btntxt">LOAD MORE QUESTIONS</span></button>
    </div>
</body>
</html>